.groups-list
  = link_to "/messages" do
    .groups-list__group
      .group-name aaa
      .group-message www
  = link_to "/messages" do
    .groups-list__group
      .group-name aaa
      .group-message www
