.navbar {
  background-color: #2f3e51;
  width: 300px;
  height: 100vh;
  box-sizing: border-box;
  color: #fff;
  float: left;
  .users-area {
    height: 110px;
    background-color: #253141;
    position: relative;
    .user {
      height: 30px;
      width: 100%;
      line-height: 30px;
      margin: auto 0;
      position: absolute;
      top: 0;
      bottom: 0;
      &-name {
        font-weight: bold;
        font-size: 16px;
        position: relative;
        display: inline-block;
        padding-left: 20px;
      }
      .fa {
        color: white;
      }
        .group-new {
          float: right;
          letter-spacing: 5px;
        }
        .edit {
          float: right;
          padding-right: 20px;
        }
    }
  }
  .groups-area {
    .groups-list {

      &__group {
        height: 71px;
        padding: 20px;
        text-decoration: none;
        color: white;

        .group-name {
          font-size: 15px;
          margin-bottom: 5px;
        }
        .group-message {
          font-size: 11px;
        }
      }
    }
  }
}
